body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f2f2f2;
}

header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}
nav a.active {
  text-decoration: underline;
}

main {
  padding: 30px;
}

h2 {
  color: #2c3e50;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.card h3 {
  margin: 0;
  color: #34495e;
}
.card p {
  font-size: 14px;
  color: #555;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}
form input, form textarea {
  padding: 8px;
  border: 1px solid #888;
  border-radius: 5px;
}
form button {
  background: #3b5323;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.card button {
  margin-top: 10px;
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}


nav {
  margin-top: 10px;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}
nav a.active {
  text-decoration: underline;
}
